# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.save

# Next.js
frontend/node_modules/
frontend/.next/

# VS Code
.vscode/

# OS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Temporary backup files
*.save

# Uploaded user files
backend/uploads/profile/*
!backend/uploads/profile/.gitkeep

# Root Node.js
node_modules/
package-lock.json